<!--Checkout page-->
<div class="checkout">
    {% extends 'base.html' %}

    {% block content %}
        <div class="checkout-content">
            <h2 class="product-title">Оформлення замовлення</h2>
            <!--Marker for page reloading-->
            <br class="marker">

            <!--Checkout form-->
            <form action="{% url 'checkout_url' %}" method="POST">{% csrf_token %}

                <div class="row">
                    <div class="col-sm-5">
                        <div class="checkout-form">

                            <!--Form for user and delivering information-->
                            {{ form.as_p }}

                        </div>
                    </div>

                    <!--Column for selected products-->
                    <div class="col-sm-7">
                        <div class="checkout-basket">
                            <div class="checkout-product">
                                <table cellpadding="7" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th colspan="2" align="left">Товар</th>
                                            <th align="center">Ціна</th>
                                            <th align="center">Кількість</th>
                                            <th align="center">Загалом</th>
                                            <th align="center"></th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <td class="table-img" valign="top"><a href="{{ product.product.get_absolute_url }}"><img class="basket-img" src="{{ product.image.url }}"></a></td>
                                                <td class="table-title" valign="top"><a href="{{ product.product.get_absolute_url }}">{{ product.name }}</a></td>
                                                <td class="table-price" valign="top">{{ product.price }}</td>
                                                <td class="table-input" valign="top"><span>{{ product.number }}</span></td>
                                                <td class="table-total_price" valign="top"><span>{{ product.total_price }}</span></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <p class="additional-information">Доставка та оплата відбуваються з допомогою кур'єра.</p>
                            </div>
                            До оплати: {{ total_price }} грн.
                         </div>
                    </div>
                    <div class="basket-buttons">
                        <a href="{% url 'main_url' %}"><button type="button">Продовжити покупки</button></a>
                        <button class="checkout-submit-button" type="submit">Оформити замовлення</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
</div>
